---
import "@fontsource/source-sans-pro/200.css"
import "@fontsource/source-sans-pro/300.css"
import "@fontsource/source-sans-pro/400.css"
import "@fontsource/source-sans-pro/600.css"
import "@fontsource/source-sans-pro/700.css"
import "@fontsource/source-sans-pro/900.css"

import AnchorButton from "@components/anchor-button.astro"
import Container from "@components/container.astro"
import NavbarMenu from "@components/navbar-menu"
import { Icon } from "astro-icon"
import { getLangFromUrl, useTranslations } from "i18n/utils"

export interface Props {
    title: string
    unstyled?: boolean
}

const { title } = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-white text-dark-12 dark:bg-dark-12 dark:text-dark-1">
        <nav
            class="sticky left-0 top-0 z-10 mx-auto mb-6 flex h-fit w-full max-w-xl items-center justify-between bg-white px-4 pb-2 pt-4 dark:bg-dark-12 md:max-w-2xl md:px-0 md:py-4"
        >
            <div class="flex items-center space-x-2">
                <AnchorButton href={`/${lang}/`} label={t("nav.home")} exact />
                <AnchorButton href={`/${lang}/projects`} label={t("nav.projects")} />
                <AnchorButton href={`/${lang}/about`} label={t("nav.about")} />
                <AnchorButton isExternal href="/tree" label={t("nav.contact")} />
            </div>
            <!-- @ts-ignore -->
            <NavbarMenu client:only="preact">
                <Fragment slot="icon">
                    <Icon name="uil:setting" class="h-4 w-4" />
                </Fragment>
            </NavbarMenu>
        </nav>
        <Container>
            <slot />
        </Container>
        <script>
            if (
                localStorage.getItem("theme") === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                if (
                    !("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches
                ) {
                    localStorage.setItem("theme", "dark")
                }
                document.documentElement.classList.add("dark")
            } else {
                document.documentElement.classList.remove("dark")
            }
        </script>
    </body>
</html>
